<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Habitacion</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'lista_habitaciones' %}">Lista de habitaciones</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'habitacion_create' %}">Crear habitacion</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url "habitacion_busqueda_avanzada" %}">Busqueda avanzada de una habitacion</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'listar_clientes' %}">Lista de todos los clientes</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'cliente_create' %}">Crear cliente</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url "cliente_busqueda_avanzada" %}">Busqueda avanzada cliente</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reservas</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'listar_reservas' %}">Listado de reservas</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url "reserva_create" %}">Crear nueva reserva</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url "buscar_reservas" %}">Busqueda avanzada de reservas</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url "listar_servicios" %}">Listado de servicios</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url "crear_servicio" %}">Crear nuevo servicio</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url "buscar_servicios" %}">Busqueda avanzada de servicios</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Empleados</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url "listar_empleados" %}">Lista de todos los empleados</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url "crear_empleado" %}">Crear un nuevo empleado</a>
            </li>

            <li>
              <a class="dropdown-item" href="{% url "buscar_empleados" %}">Busqueda avanzada de empleados</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Comentarios</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'listar_comentarios' %}">Lista de todos los comentarios</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'crear_comentario' %}">Crear un nuevo comentario</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'buscar_comentarios' %}">Busqueda avanzada de un nuevo comentario</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Promocion</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'lista_promociones' %}">Lista de promociones</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'promocion_create' %}">Crear promocion</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'promocion_busqueda_avanzada' %}">Busqueda avanzada de promocion</a>
            </li>
          </ul>
        </li>
        <li>
          {% if not request.user.is_authenticated %}
          <a class="btn btn-outline-warning" href="{% url 'registrar_usuario' %}">Registrarse</a>
          {% endif %}
        </li>
        <li>
          {% if not request.user.is_authenticated %}
          <a class="btn btn-outline-warning" href="{% url 'login' %}">Iniciar Sesion</a>
          {% endif %}
        </li>
        <li>
          {% if request.user.is_authenticated %}
          <a class="btn btn-outline-warning" href="{% url 'logout' %}">Desconectarse</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
