<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load bootstrap5 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <title>Primer html</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% include "menu/menu.html" %}
    
    <img src="{% static  'imagenes/imagen.jpg' %}" alt="Imagen de hotel">
    
    {% block cabezera %}


    {% endblock cabezera %}


    {% block contenido %}


    {% endblock contenido %}

    {% include "pie_pagina/pie_pagina.html" %}

</body>
</html>