
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --white: #ffffff;
}

body {
    background-color: var(--primary-color-light);
    color: var(--text-light);
}



.pie-pagina{

    width: 100%;
    background-color: var(--primary-color);
    border-top: 1px solid var(--white);
}
.pie-pagina .grupo-2{
    border-top: 1px solid var(--white);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}