{% extends "principal.html" %}
{% block contenido %}

{% for cuenta in cuentas %}

    <h1>Cliente:</h1>
        
    
    <ul>
        <li>Nombre del cliente: {{cuenta.cliente.nombre}}</li>
        <li>Correo electronico del cliente: {{cuenta.cliente.correo_electronico}}</li>
        <li>Telefono del cliente: {{cuenta.cliente.telefono}}</li>
        <li>Direccion de cuenta:{{cuenta.cliente.direccion}}</li>
        <br>
        <li>Numero de cuenta del cliente: {{cuenta.numero_cuenta}} </li>
        <li>Tipo de cuenta del cliente: {{cuenta.tipo}} </li>
    </ul>

    
    {% empty %}
        <h1>Lo sentimos pero no hay cuenta</h1>
{% endfor %}

{% endblock contenido %}