{% extends "principal.html" %}
{% load bootstrap5 %}

{% block contenido %}


    <form action = "{% url 'buscar_empleados' %}" method = "GET">
       
        {% csrf_token %}


        <div class="mb-4">
            {% bootstrap_field formulario.texto_busqueda show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.cargo show_label=True %}
        </div>

       
        {% buttons %}
            <button type="submit" class="btn btn-primary" >Enviar</button>
        {% endbuttons %}
    </form>
{% endblock %}