{% extends 'principal.html' %}
{% block contenido %}
    <h1>Listado de Servicios</h1>
    <ul>
        {% for servicio in servicios %}
            <li>{{ servicio.nombre }} - {{ servicio.descripcion }} - {{ servicio.precio }}</li>

                <button type="button" class="btn btn-outline-primary"><a href="{% url 'editar_servicio' servicio.id %}"><span>EDITAR</span></a></button>

                <form action = "{% url "servicio_eliminar" servicio.id %}" method = "post"> 
                    {% csrf_token %}
                    <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                        <span>ELIMINAR</span>
                    </button> 
                </form>

        {% endfor %}
    </ul>

{% endblock %}
