{% block contenido %}

{% for comodidad in comodidades %}
    <ul>
        <h1>Comodidad</h1>
        <li>Nombre de la comodidad: {{comodidad.nombre}}</li>
        <li>Descripcion de la comodidad: {{comodidad.descripcion}} </li>
    </ul>
    {% for habitacion in comodidad.habitacion.all %}
        <h2>Habitacion con la comodidad:</h2>
        <ul>
            <li>Numero de la habitacion: {{habitacion.numero_hab}}</li>
            <li>Tipo de habitacion: {{habitacion.tipo}} </li>
            <li>Precio por noche de la habitacion: {{habitacion.precio_noche}} </li>
        </ul>

        
    {% endfor %}


{% endfor %}

{% endblock contenido %}