{% extends "principal.html" %}
{% block contenido %}

{% for evento in eventos %}
    <h1>Evento:</h1>
    <ul>
        <li>Nombre del evento: {{evento.nombre}}</li>
        <li>Hora inicio del evento: {{evento.hora_inicio}}</li>
        <li>Hora final del evento: {{evento.hora_final}}</li>
        <li>Ubicacion del evento: {{evento.ubicacion}}</li>
    </ul>
    {% for reserva in evento.reserva.all %}
        <h2>Reservas</h2>
        <ul>
            <li>Nombre del cliente que ha hecho la reserva{{reserva.cliente.nombre}}</li>
            <li>Numero de la habitacion que el cliente que ha reservado{{reserva.habitacion.numero_hab}}</li>
            <li>{{reserva.fecha_entrada}}</li>
            <li>{{reserva.fecha_salida}}</li>
        </ul>
    {%endfor%}

{% endfor %}

{% endblock contenido %}